<form method="post" action="/User/">
    <label for="username" >"Username"</label>
    <input type="text" name="username" />
    <label for="email" >"Email"</label>
    <input type="text" name="email" />
    <label for="password" >"password"</label>
    <input type="password" name="password" />
    <label for="verifassword" >"Verify Password"</label>
    <input type="password" name="verifiypassword"/>
    <input type="submit" name="submit" id="submit" value="Submit!"/>
</form>